# https://github.com/github-linguist/linguist/blob/master/docs/overrides.md
*.g.dart linguist-generated=true
_example_src/viz_data.js linguist-generated=true
lib/assets/** linguist-generated=true
lib/src/version.dart linguist-generated=true
